<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>팔로우 목록 페이지</title>
</head>
<body>
<h1>팔로우 목록 페이지</h1>
<hr/>

<table>
    <tr>
        <th th:if="${#lists.size(followers)} gt 0">인스타 아이디</th>
    </tr>
    <tr th:each="follower : ${followers}">
        <td><a th:text="${follower.userInfo.instagramId}" th:href="@{|/${follower.userInfo.instagramId}|}">follower</a></td>
    </tr>
</table>

</body>
</html>