<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <title>회원가입 페이지</title>
</head>
<body>
<h1>회원가입 페이지</h1>
<hr/>
<form action="/joinProc" method="post">
  <input type="text" name="username" placeholder="Login Id"/> <br/>
  <input type="password" name="password" placeholder="Password"/> <br/>
  <input type="text" name="instagram_id" placeholder="instagram_id">
  <button>회원가입</button>
</form>
</body>
</html>
