<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>게시물 정보 페이지</title>
</head>
<body>
<h1>게시물 정보 페이지</h1>
<hr/>
<h3 th:text="|제목: ${post.title}|">title</h3>
<h3 th:text="|내용: ${post.content}|">content</h3>
<button th:onclick="|location.href='@{/posts/{postId}/edit(postId=${post.id})}'|">게시물 수정하러 가기</button>
<br>
<button th:onclick="|location.href='@{/user/userInfo}'|">게시물 목록</button>
</body>
</html>