<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<h5 th:text="|로그인 아이디: ${user.username}|">로그인 아이디</h5>
<h5 th:text="|로그인 비밀번호: ${user.password}|">로그인 비밀번호</h5>
<br>
<h5 th:text="|인스타그램 아이디: ${user.userInfo.instagram_id}|">인스타그램 아이디</h5>
<h5 th:text="|이름: ${user.userInfo.name}|">사용자 이름</h5>
<h5 th:text="|사진: ${user.userInfo.photo}|">사진</h5>
<h5 th:text="|소개글: ${user.userInfo.introduction}|">소개글</h5>
</body>
</html>